<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Todolist</title>
</head>
<body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <div class="container">

    <% if (isConnectedToTeam == false) {%>

    <div class="row">
      <div class="col m12">
        <h1 class="header">Gestion d&apos;équipe</h1>
      </div>
    </div>

    <div class="row">
      <div class="col m6">
        <div class="card-panel">
          <h3 class="header">Rejoindre une équipe</h3>
          <p class="flow-text"><%=error%></p>
          <form action="/todo/teams/login" method = "post">
            <p class = "flow-text" >
              Nom de l&apos;équipe :
            </p><br>
            <input type="text" autofocus name="teamName" required>
            <br><br>
            <p class = "flow-text" >Mot de passe :</p><br>
            <input type="password" name="password" required>
            <br>
            <input class="waves-effect waves-light btn" type="submit" value="Login">
          </form>
        </div>
      </div>
      <div class="col m6">
        <div class="card-panel">
          <h3 class="header">Créer une équipe</h3>
          <form action="/todo/teams/create" method = "post">
            <p class = "flow-text" >Nom de votre équipe :</p><br>
            <input type="text" autofocus name="teamName" required>
            <br><br>
            <p class = "flow-text" >Mot de passe :</p><br>
            <input type="password" name="password" required>
            <br><br>
            <p class = "flow-text" >Confirmez le mot de passe :</p><br>
            <input type="password" name="confirmPassword" required>
            <br>
            <input class="waves-effect waves-light btn" type="submit" value="Valider">
          </form>
        </div>
      </div>
    </div>

    <%} else {%>

    <div class="row">
      <div class="col m12">
        <h1 class="header">Tâches de l&apos;équipe <%=teamName%></h1>
      </div>
    </div>

    <div class="row">
      <div class ="col s12 m12 l12">
        <div class="card-panel">
          <div class="row">
            <div class="col s12" id="table">
              <table class="responsive-table highlight bordered centered flow-text">
                <thead>
                  <tr>
                    <th></th>
                    <th>Message</th>
                    <th>Par</th>
                    <th>Pour</th>
                    <th>Complétée le</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for (i=0; i < todolistTeam.length; i++) {%>
                  <% if (todolistTeam[i].completedAt == "0") {%>
                  <tr>
                    <td>
                    <form method="post" action="/todo/complete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistTeam[i]._id%>">
                    <button class="waves-effect waves-teal btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ☐
                    </button>
                    </form>
                    </td>
                    <td><%= todolistTeam[i].message %></td>
                    <td><%=todolistTeam[i].pseudo%> </td>
                    <td><%=todolistTeam[i].forPseudo%> </td>
                    <td id="doit">Just do it !</td>
                    <td>
                    <form method="post" action="/todo/delete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistTeam[i]._id%>">
                    <button class="waves-effect waves-red btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ✕
                    </button>
                    </form>
                    </td>
                  </tr>
                  <% } %>
                  <% } %>
                  <% for (i=0; i < todolistTeam.length; i++) {%>
                  <% if (todolistTeam[i].completedAt !== "0") {%>
                  <tr>
                    <td>
                    <form method="post" action="/todo/undo" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistTeam[i]._id%>">
                    <button class="waves-effect waves-teal btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ☑
                    </button>
                    </form>
                    </td>
                    <td><%= todolistTeam[i].message %></td>
                    <td><%=todolistTeam[i].pseudo%> </td>
                    <td><%=todolistTeam[i].forPseudo%> </td>
                    <td><%= todolistTeam[i].completedAt %></td>
                    <td>
                    <form method="post" action="/todo/delete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistTeam[i]._id%>">
                    <button class="waves-effect waves-red btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ✕
                    </button>
                    </form>
                    </td>
                  </tr>
                  <% } %>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <div class="card-panel">
          <form action="/todo/teamNew" method = "post">
            <p class="flow-text">
              Nouvelle tâche :
            </p><input type="text" name="message" required />
            <p class="flow-text">Pour : </p>
            <% for (i=0; i < teamMembers.length; i++) {%>
            <input id=<%=teamMembers[i].pseudo%> type="radio" name="for" value=<%=teamMembers[i].pseudo%> >
            <label class="flow-text" for=<%=teamMembers[i].pseudo%> ><%=teamMembers[i].pseudo%></label>
            <br />
            <%}%>
            <input class="flow-text" type="radio" name="for" value="L'équipe" id="eq" checked>
            <label for="eq"> Toute l&apos;équipe</label>
            <br />
            <br />
            <input class="waves-effect waves-light btn" type="submit" value="Valider" />
          </form>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card-panel">
          <form action="/todo/teams/quit" method = "post">
            <input class="waves-effect waves-light btn" type="submit" value="Quitter l'équipe" />
          </form>
          <br />
          <% if (isAdmin == true) {%>
          <form action="/todo/teams/delete" method = "post">
            <input class="waves-effect waves-light btn" type="submit" value="Supprimer l'équipe" />
          </form>
          <%}%>
        </div>
      </div>
    </div>

    <%}%>

    <div class="row">
      <div class="col s12">
        <h1 class="header">Tâches personnelles</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <div class="col s12" id="table">
              <table class="responsive-table bordered centered highlight flow-text">
            <thead>
              <tr>
                <th></th>
                <th>Message</th>
                <th>Complétée le</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (i=0; i < todolistPerso.length; i++) {%>
              <% if (todolistPerso[i].completedAt == "0") {%>
              <tr>
                <td>
                  <form method="post" action="/todo/complete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistPerso[i]._id%>">
                    <button class="waves-effect waves-teal btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ☐
                    </button>
                  </form>
                </td>
                <td><%= todolistPerso[i].message %></td>
                <td><p id="doit">Just do it !</p></td>
                <td>
                  <form method="post" action="/todo/delete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistPerso[i]._id%>">
                    <button class="waves-effect waves-red btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ✕
                    </button>
                  </form>
                </td>
              </tr>
              <% } %>
              <% } %>
              <% for (i=0; i < todolistPerso.length; i++) {%>
              <% if (todolistPerso[i].completedAt !== "0") {%>
              <tr>
                <td>
                  <form method="post" action="/todo/undo" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistPerso[i]._id%>">
                    <button class="waves-effect waves-teal btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                    ☑
                    </button>
                  </form>
                </td>
                <td><%= todolistPerso[i].message %></td>
                <td><%= todolistPerso[i].completedAt %></td>
                <td>
                  <form method="post" action="/todo/delete" class="inline">
                    <input type="hidden" name="_id" value="<%=todolistPerso[i]._id%>">
                    <button class="waves-effect waves-red btn-flat" type="submit" name="submit_param" value="submit_value" class="link-button">
                      ✕
                    </button>
                  </form>
                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 l6">
        <div class="card-panel">
          <form action="/todo/new" method = "post">
            <p class="flow-text">Nouvelle tâche :</p><input type="text" name="message" required />
            <br />
            <input class="waves-effect waves-light btn" type="submit" value="Valider" />
          </form>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card-panel">
          <form action="/sessions/manage" method = "get">
            <input class="waves-effect waves-light btn" type="submit" value="Gestion du compte" />
          </form>
          <br />
          <form action="/sessions/disconnect" method = "post">
            <input class="waves-effect waves-light btn" type="submit" value="Se déconnecter" />
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
